@charset "utf-8";

/*----------------------------------------
    common css
----------------------------------------*/
a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
  zoom: 1;
}
.sp {
  display: block;
}
/*  contents
----------------------------------------*/
#contents {
  max-width: 100%;
  margin: 0 auto 40px;;
  background: #ffffff;
  overflow: hidden;
}
#side {
  width: 100%;
  float: none;
  display: block;
  padding-top: 0;
}
#member_register {
  display: none;
}
#banner_side {
  display: none;
}
#ranking_list {
  width: 96.875%;
  margin: 0 auto;
}
#side .title {
  color: #096eb0;
  font-size: 125%;
  height: 36px;
  line-height: 36px;
  padding-left: 0;
  text-align: left;
  background: none;
  position: relative;
  overflow: hidden;
}
#side .title:after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #096eb0;
  position: absolute;
  bottom: 45%;
}
#ranking_list .ranking_content {
  background: none;
}
#ranking_list .name_list {
  overflow: hidden;
  padding: 0;
  border: none;
}
#ranking_list .item {
  width: 46.09%;
  float: left;
  background: none;
  margin-top: 22px;
  padding-top: 0;
}
#ranking_list .item.first {
  margin-top: 22px;
}
#ranking_list .item:nth-child(2n+2) {
  float: right;
}
#ranking_list .item a {
  display: block;
  text-decoration: none;
  color: #000000;
}
#ranking_list .col_left {
  float: left;
  width: 37.28%;
  text-align: center;
}
#ranking_list .col_right {
  width: 60.33%;
  float: right;
}
#ranking_list .text span {
  display: block;
  font-size: 84%;
  line-height: 1.5em;
}
#ranking_list .text .ico_ranking {
  width: 20.78%;
  padding-bottom: 3px;
}
#ranking_list .text .price {
  color: #e60012;
}


#main {
  float: none;
  width: 100%;
  padding-top: 0;
}
#contents {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

#main .title {
  width: 100%;
  padding-left: 0;
  font-size: 125%;
  text-align: center;
  background: #1fb1d2; /* Old browsers */
  background: -moz-linear-gradient(top,  #1fb1d2 0%, #0070a4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1fb1d2 0%,#0070a4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1fb1d2 0%,#0070a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb1d2', endColorstr='#0070a4',GradientType=0 ); /* IE6-9 */
}
