@charset "utf-8";

/*----------------------------------------
    slider area
----------------------------------------*/
#main_visual {
  position: relative;
}
#main_visual .slider {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#main_visual .slider img {
  width: 100%;
}
#arrow_slider {
  text-align: center;
}
#arrow_slider .btn_prev,
#arrow_slider .btn_next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  outline: 0;
  width: 31px;
  height: 49px;
  text-indent: -9999px;
  z-index: 9999;
}
#arrow_slider .btn_prev {
  left: 10px !important;
  background: url(../img/index/slider/ico-prev.png) no-repeat 0 0;
}

#arrow_slider .btn_next {
  right: 10px !important;
  background: url(../img/index/slider/ico-next.png) no-repeat 0 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  bottom: 10px;
  left: 45%;
  margin-left: -24px;
  display: inline-block;
  margin: 0 auto;
}
.swiper-pagination-bullet {
  opacity: 1;
  width: 14px;
  height: 14px;
  margin-right: 15px;
  background: url(../img/index/slider/ico-page_off.png) no-repeat 0 0;
}
.swiper-pagination-bullet-active {
  background: url(../img/index/slider/ico-page_on.png) no-repeat 0 0;
}
.swiper-button-disabled {
  opacity: 0.5;
}
/*----------------------------------------
    product info
----------------------------------------*/
#product_info {
  display: none;
}
/*----------------------------------------
    feature_box
----------------------------------------*/
#feature_box {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  padding-bottom: 14px;
  background: url(../img/index/bg-box_bottom.gif) no-repeat bottom center;
}
#feature_box .feature_content {
  overflow: hidden;
  padding: 5px 32px 0 25px;
  border: 1px solid #dddddd;
  border-top: none;
  border-bottom: none;
}
#feature_box .feature_info {
  position: relative;
}
#feature_box .detail_list {
  float: left;
  width: 334px;
}
#feature_box .detail_list .item {
  width: 95%;
  margin-top: 10px;
  padding-left: 15px;
  display: table;
}
#feature_box .detail_list .item a {
  text-decoration: none;
  color: #000000;
  font-size: 100%;
  display: block;
}
#feature_box .detail_list .item span {
  width: 48.19%;
  float: left;
}
#feature_box .detail_list .item span img {
  width: 100%;
  height: auto;
}
#feature_box .detail_list .item .text_feature {
  float: left;
  width: 47.81%;
  padding-left: 1%;
  line-height: 1.3em;
  text-align: justify;
}
#btn_change .prev,
#btn_change .next {
  position: absolute;
  top: 50%;
  margin-top: -135px;
  outline: 0;
  width: 26px;
  height: 270px;
  text-indent: -9999px;
  z-index: 9999;
}
#btn_change .prev {
  left: 1px !important;
  background: url(../img/index/ico-feature_prev.gif) no-repeat 0 0;
}

#btn_change .next {
  right: 1px !important;
  background: url(../img/index/ico-feature_next.gif) no-repeat 0 0;
}
/*----------------------------------------
    new_box
----------------------------------------*/
#new_box {
  overflow: hidden;
  margin-top: 20px;
}
#new_box .new_bottom {
  width: 100%;
  padding-bottom: 14px;
  background: url(../img/index/bg-box_bottom.gif) no-repeat bottom center;
}
#new_box .new_content {
  padding: 23px 15px 0;
  border: 1px solid #dddddd;
  border-top: none;
  border-bottom: none;
}
#new_box .new_list {
  padding-bottom: 10px;
  overflow: hidden;
}
#new_box .new_list dl {
  padding-top: 20px;
  font-size: 100%;
}
#new_box .new_list dl.first {
  padding-top: 0;
  display: table;
}
#new_box .new_list dt {
  width: 105px;
  padding-right: 5px;
  text-align: left;
  color: #0172a6;
  font-weight: bold;
}
#new_box .new_list dt,
#new_box .new_list dd {
  vertical-align: top;
  display: table-cell;
}
#new_box  .view_more {
  width: 100%;
  padding-bottom: 6px;
  text-align: right;
}

/*----------------------------------------
    product_box
----------------------------------------*/
#product_box {
  overflow: hidden;
  margin-top: 20px;
}
#product_box .product_list .product_item {
  padding: 0 28px;
  position: relative;
  overflow: hidden;
}
#product_box .product_list .product_name {
  overflow: hidden;
  border-bottom: 1px dotted #aeaeae;
  padding-bottom: 14px;
  margin-bottom: 10px;
}
#product_box .product_list .product_item:last-child .product_name {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
#product_box .product_content {
  padding-bottom: 14px;
  background: url(../img/index/bg-box_bottom.gif) no-repeat bottom center;
}
#product_box .product_list {
  border: 1px solid #dddddd;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
}
#product_box .product_list .prev,
#product_box .product_list .next {
  position: absolute;
  top: 50%;
  margin-top: -93px;
  outline: 0;
  width: 28px;
  height: 186px;
  text-indent: -9999px;
  z-index: 9999;
  background: #ffffff;
}
#product_box .product_list .prev {
  left: 0 !important;
  background: url(../img/index/ico-product_prev.gif) no-repeat 0 0;
}

#product_box .product_list .next {
  right: 0 !important;
  background: url(../img/index/ico-product_next.gif) no-repeat 0 0;
}
#product_box .product_list ul {
  position: relative;
}

#product_box .product_list .product_syn ul {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#product_box .product_item {
  position: relative;
  overflow: hidden;
}
#product_box .product_list .item {
  float: left;
  width: 131px;
  margin-top: 10px;
}
#product_box .product_list .item a {
  display: block;
  text-decoration: none;
  color: #000000;
}
#product_box .product_list .item.edge {
  width: 195px;
  margin-left: 0;
  border-left: none;
}
#product_box .product_list .item span {
  display: block;
  padding-left: 5px;
}
#product_box .product_list .item .photo {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
#product_box .product_list .item .text {
  font-size: 92%;
}
#product_box .product_list .item .price {
  display: block;
  color: #e60012;
}


@media screen and (max-width: 1008px) {
  #main_visual .slider {
    width: 100%;
  }
  #feature_box,
  #new_box .new_bottom,
  #product_box .product_content {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0;
    background: none;
  }
}

@media screen and (max-width: 924px) {
}

@media screen and (max-width: 767px) {
  /*----------------------------------------
      slider area
  ----------------------------------------*/
  .swiper-pagination {
    left: 42%;
  }
  #main_visual {
    width: 100%;
  }
  #main_visual img {
    width: 100%;
    height: auto;
  }
  #main_visual .slider {
    width: 100%;
  }


  #arrow_slider .btn_prev, #arrow_slider .btn_next {
    width: 15px;
    height: 20px;
    margin-top: -10px;
    background-size: 100% auto;
  }
  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin-right: 12px;
    background-size: 6px 6px;
  }
  .swiper-pagination-bullet-active {
    background-size: 7px 7px;
  }

  /*----------------------------------------
      product info
  ----------------------------------------*/
  #product_info {
    display: block;
    padding: 15px 0;
    -webkit-box-shadow: inset 0px 2px 8px -1px rgba(200,203,204,0.62);
    -moz-box-shadow: inset 0px 2px 8px -1px rgba(200,203,204,0.62);
    box-shadow: inset 0px 2px 8px -1px rgba(200,203,204,0.62);
  }
  #product_info li {
    width: 80.78%;
    margin: 0 auto;
  }
  #product_info li:first-child {
    margin-bottom: 12px;
  }
  #feature_box {
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    position: relative;
    padding-bottom: 32px;
    background: url(../img/index/sp/bg-box_bottom.gif) no-repeat bottom center;
    background-size: 100%;
  }
  #feature_box .feature_content {
    border: none;
    padding: 0 28px 0 29px;
  }
  #feature_box .detail_list .item {
    width: 100%;
    float: left;
    margin-top: 13px;
    padding-left: 0;
    display: table;
  }
  #feature_box .detail_list .item span {
    width: 40%;
  }
  #feature_box .detail_list .item .text_feature {
    width: 50%;
  }
  #feature_box .detail_list .item .text_feature {
    font-size: 100%;
  }
  #new_box {
    margin-top: 0;
  }
  #new_box .new_bottom {
    padding-bottom: 32px;
    background: url(../img/index/sp/bg-box_bottom.gif) no-repeat bottom center;
    background-size: 100%;
  }
  #new_box .new_list dt, #new_box .new_list dd {
    display: block;
  }
  #new_box .new_list dd {
    font-size: 100%;
  }
  #new_box  .view_more {
    overflow: hidden;
  }
  #new_box  .view_more a {
    width: 23%;
    float: right;
  }
  #new_box .new_list dl {
    display: none;
  }
  #new_box .new_list dl.show {
    display: block;
  }

  #product_box {
    margin-top: 0;
  }
  #product_box .product_content {
    padding-bottom: 32px;
    background: url(../img/index/sp/bg-box_bottom.gif) no-repeat bottom center;
    background-size: 100%;
  }
  #product_box .product_list {
    border: none;
  }

}
