@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/
html{overflow-y:scroll;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}hr,legend{display:none;}h1,h2,h3,h4,h5,h6{font-size:100%;}img,abbr,acronym,fieldset{border:0;}ul li{list-style-type:none;}a,label{cursor:pointer;}img{vertical-align:bottom;margin:0;padding:0;}


body {
  font-size: 76%;
  line-height: 1.7em;
  color: #000000;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
}
/*----------------------------------------
    ヘッダー
----------------------------------------*/

/*  header
----------------------------------------*/
.inner {
  max-width: 1024px;
  margin: 0 auto;
}
.clearfix:after {
  content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;
}
#header {
  width: 100%;
  background: #ffffff;
  position: relative;
}
#header #logo {
  float: left;
  padding-top: 40px;
  position: relative;
}
#header #logo img {
  display: none;
}
#header #logo a {
  width: 188px;
  height: 45px;
  display: block;
  background: url(../img/share/logo-fto.gif) no-repeat 0 0;
}
#header .info_page {
  float: right;
  padding-bottom: 27px;
  padding-top: 28px;
  position: relative;
  z-index: 100;
  background: #fff;
}
#header .tel_top {
  float: right;
  text-align: right;
}
#header .info_page .tel_top .tel {
  width: 203px;
  height: 24px;
  display: block;
  background: url(../img/share/img-tel_top.gif) no-repeat 0 0;
}
#header .info_page .tel_top .tel img {
  display: none;
}
#header .tel_top span {
  display: block;
  color: #0083c1;
  font-size: 109%;
}
#header .tel_top .order_mobile {
  color: #666666;
  padding-top: 3px;
  letter-spacing: 3px;
  margin-right: -8px;
}
#header .view_cart {
  float: left;
  padding-top: 7px;
  padding-right: 20px;
  min-height: 27px;
}
#header .view_cart .item_cart {
  width: 154px;
  height: 36px;
  display: block;
  background: url(../img/share/btn-view_cart.png) no-repeat center center;
}
#header .view_cart .item_cart img {
  display: none;
}
#header .view_cart .item_cart span {
  line-height: 33px;
  padding: 3px 0 3px 57px;
  font-size: 117%;
}
#header .view_cart .free_shipping {
  color: #ff6600;
  text-align: center;
  padding-top: 3px;
  font-size: 109%;
  letter-spacing: -2px;
}

/*  form search
----------------------------------------*/
#form_box {
  padding-top: 40px;
  float: left;
  margin-left: 50px;
}
#form_box #search_form {
  padding: 8px 12px;
  height: 20px;
  line-height: 20px;
  font-size: 100%;
  border: none;
  outline: none;
  vertical-align: middle;
  float: left;
  border-right: 1px solid #ffffff;
}
#form_box .input_size {
  width: 306px;
  color: #828282;
  background: url(../img/common/img-input_text.png) no-repeat 0 0;
}
#form_box #search_form {
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 117%;
}
#form_box #search_btn {
    width: 36px;
    height: 36px;
    line-height: 1;
    appearance: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: #ffffff;
    background-image: url(../img/common/btn-search_top.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 38px auto;
    cursor: pointer;
}
#searchBtn, #topSearchBtn {
    text-indent: -9999px;
    overflow: hidden;
}
#search_form::-webkit-input-placeholder {
    color: #b2b2b2;
    font-weight: normal;
    font-style: italic;
}
#search_form:-ms-input-placeholder {
    color: #b2b2b2;
    font-weight: normal;
    font-style: italic;
}
#search_form::-moz-placeholder {
    color: #b2b2b2;
    font-weight: normal;
    font-style: italic;
}


/*  nav
----------------------------------------*/
#nav {
  clear: both;
  width: 100%;
  height: 46px;
  background: url(../img/share/bg-nav_menu.gif) repeat-x 0 0;
}
#nav .section_menu > ul {
  background: url(../img/share/ico-line_nav.gif) no-repeat right center;
}
#nav .section_menu > ul:after {
  content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;
}
#nav .section_menu > ul > li {
  width: 16.6%;
  text-align: center;
  float: left;
  line-height: 27px;
  height: 46px;
  position: relative;
  background: url(../img/share/ico-line_nav.gif) no-repeat left center;
}
#nav .section_menu > ul > li > a {
  color: #ffffff;
  font-size: 117%;
  font-weight: bold;
  text-decoration: none;
  padding: 11px 0 8px;
  display: block;
}
#nav .section_menu > ul > li > a > span {
  padding-right: 15px;
  background: url(../img/share/ico-arrow_down.png) no-repeat right center;
}

/* メニユー
----------------------------------------*/
#nav .sub_nav {
  display: none;
  position: absolute;
  width: 170px;
  z-index: 1800;
  background: #096bae;
  padding: 0;
}
#nav .sub_nav li {
  width: 100%;
  float: left;
  position: relative;
}
#nav .sub_nav li ul {
    top: 0;
    right: -170px;
}
#nav li:hover > .sub_nav {
  display: block;
}
#nav .sub_nav li {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: left;
}
#nav .sub_nav li a {
  display: block;
  color: #ffffff;
  font-size: 117%;
  padding: 3px;
  text-decoration: none;
  background: url(../img/share/ico-arrow_nav.gif) no-repeat 98% center;
}
#nav .sub_nav .item {
  display: block;
  border-bottom: 1px solid #f1ede7;
}
#nav .sub_nav .thumb {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
  width: 44px;
  text-align: center;
}
#nav .sub_nav .thumb img {
  vertical-align: middle;
}
#nav .sub_nav .name {
  width: 130px;
}

/*----------------------------------------
    フッター
----------------------------------------*/

/*  footer
----------------------------------------*/
#footer {
  text-align: center;
  position: relative;
  clear: both;
  width: 100%;
  height: 105px;
  background: url(../img/share/bg-footer.gif) repeat-x top left;
}
#footer .footer_info {
  width: 700px;
  margin: 0 auto;
  padding: 23px 0 10px;;
  overflow: hidden;
}
#footer .footer_info li {
  display: inline-block;
  padding: 0 10px;
  background: url(../img/share/ico-dot_footer.png) no-repeat left center;
  color: #ffffff;
}
#footer .footer_info li.type_none {
  background: none;
}
#footer .footer_info li a {
  color: #ffffff;
  font-size: 117%;
  text-decoration: none;
}
#footer .copy_right {
  color: #ffffff;
  font-size: 100%;
}

.tab_change, .menu_bar, .ico_bars_close {
  display: none;
}



@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1220px) {
}
@media screen and (max-width: 1036px) {
  #contents {
    max-width: 100%;
  }
  #content_inner {
    max-width: 100%;
  }
}
@media screen and (max-width: 1035px) {

  #contents {
    max-width: 100%;
  }
  #content_inner {
    max-width: 100%;
  }
  #form_box {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1025px) {
  #form_box {
    margin-left: 20px;
  }

}
@media screen and (max-width: 1018px) {
  #header .info_page {
  }
  #form_box {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1008px) {
  #header .info_page {
  }
  #form_box {
    margin-left: 20px;
  }
  #form_box .input_size {
    width: 70%;
  }
}
@media screen and (max-width: 945px) {
  #form_box {
    width: 28.88%;
  }
}

@media screen and (max-width: 840px) {

    /*---------------------------------------
        リセットCSS（編集不要）
    ----------------------------------------*/
    /*  header
    ----------------------------------------*/
    .inner {
      max-width: 100%;
      margin: 0 auto;
    }
    #header #logo {
      width: 38.28%;
      padding: 0;
    }
    #header #logo img {
      display: block;
    }
    #header #logo a {
      width: 100%;
      height: auto;
      display: block;
      background: none;;
    }
    #form_box {
      width: 100%;
      padding: 0;
      float: left;
      margin-left: 0;
      display: none;
      position: absolute;
      z-index: 1000;
      background: #ffffff;
      border-top: 1px solid #959595;
    }
    #form_box #search_form {
      padding: 8px 2%;
      line-height: 36px;
    }
    #form_box .input_size {
      width: 84%;
      color: #828282;
      background: #ffffff;
    }
    #form_box #search_btn {
      float: right;
      background-size: 100% auto;
    }
    #search_form:-ms-input-placeholder,
    #search_form::-moz-placeholder,
    #search_form::-webkit-input-placeholder {
      font-size: 92%;
    }


    #header .search_sp {
      width: 15.3%;
      display: inline-block;
    }


    #header .info_page {
      width: 46.26%;
      float: right;
      padding: 0;
      overflow: hidden;
    }
    #header .tel_top {
      width: 66.77%;
      float: right;
      text-align: right;
    }
    #header .tel_top span {
      display: none;
    }
    #header .info_page .tel_top .tel {
      width: 100%;
      height: auto;
      display: block;
      background: none;
    }
    #header .info_page .tel_top .tel img {
      display: block;
    }
    #header .view_cart {
      width: 32.99%;
      float: left;
      padding: 0;
      min-height: auto;
    }
    #header .view_cart .item_cart {
      width: 100%;
      height: auto;
      background: none;
    }
    #header .view_cart .item_cart img {
      display: block;
    }
    #header .tel_top .order_mobile {
      display: none;
    }
    #header .view_cart .free_shipping {
      display: none;
    }



    /*  footer
    ----------------------------------------*/
    #footer {
      height: 100%;
      background-size: 100% 100%;
    }
    #footer .footer_info {
      width: 86%;
      padding: 17px 0 5px;
    }
    #footer .footer_info li a {
      font-size: 10px;
      line-height: 1.3em;
    }
    #footer .copy_right {
      background: #0083c1;
      font-size: 10px;
      padding-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {



  /*---------------------------------------
      リセットCSS（編集不要）
  ----------------------------------------*/
  #wrapper img {
    width: 100%;
    height: auto;
  }


  /*  header
  ----------------------------------------*/
  .inner {
    max-width: 100%;
    margin: 0 auto;
  }
  #header #logo {
    width: 38.28%;
    padding: 0;
  }
  #header #logo img {
    display: block;
  }
  #header #logo a {
    width: 100%;
    height: auto;
    display: block;
    background: none;;
  }
  #form_box {
    width: 100%;
    padding: 0;
    float: left;
    margin-left: 0;
    display: none;
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    border-top: 1px solid #959595;
  }
  #form_box #search_form {
    padding: 8px 2%;
    line-height: 36px;
  }
  #form_box .input_size {
    width: 84%;
    color: #828282;
    background: #ffffff;
  }
  #form_box #search_btn {
    float: right;
    background-size: 100% auto;
  }
  #search_form:-ms-input-placeholder,
  #search_form::-moz-placeholder,
  #search_form::-webkit-input-placeholder {
    font-size: 92%;
  }


  #header .search_sp {
    width: 15.3%;
    display: inline-block;
  }


  #header .info_page {
    width: 46.26%;
    float: right;
    padding: 0;
    overflow: hidden;
  }
  #header .tel_top {
    width: 66.77%;
    float: right;
    text-align: right;
  }
  #header .tel_top span {
    display: none;
  }
  #header .info_page .tel_top .tel {
    width: 100%;
    height: auto;
    display: block;
    background: none;
  }
  #header .info_page .tel_top .tel img {
    display: block;
  }
  #header .view_cart {
    width: 32.99%;
    float: left;
    padding: 0;
    min-height: auto;
  }
  #header .view_cart .item_cart {
    width: 100%;
    height: auto;
    background: none;
  }
  #header .view_cart .item_cart img {
    display: block;
  }
  #header .tel_top .order_mobile {
    display: none;
  }
  #header .view_cart .free_shipping {
    display: none;
  }

  /*  nav
  ----------------------------------------*/
  .tab_change, .menu_bar, .ico_bars_close {
    display: block;
  }
  .menu_bar {
    position: fixed;
    left: 0;
    z-index: 99999;
    top: 30px;
    background: url(/img/share/sp/ico-bars_bg.png) left center no-repeat;
    width: 3px;
    height: 152px;
  }
  .menu_bar img.ico_bars {
    width: 40px!important;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  #nav img.ico_bars_close {
    position: absolute;
    width: auto;
    height: auto;
    width: 40px;
    right: -40px;
    bottom: 40px;
    cursor: pointer;
  }
  .tab_change img {
    width: 20px!important;
    padding: 10px 15px;
    vertical-align: middle;
  }
  .tab_change {
    background: #038ed1;
    vertical-align: middle;
  }
  .tab_change div {
    float: left;
    line-height: 20px;
    width: 50%;
    background: #038ed1;
    box-sizing: border-box;
    text-align: center;
  }

  .tab_change div.active {
    background: #0183c1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=180, Color=#000000)";/*IE 8*//*FF 3.5+*//*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 10px 0 12px -4px rgba(0,0,0,0.2) inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=135, Color=#000000); /*IE 5.5-7*/
  }

  #nav {
    clear: both;
    width: 84%;
    height: auto;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99998;
    display: block;
    margin-left: -100%;
    opacity: 0.5;
    border-right: 2px solid #0183c1;
    border-bottom: 2px solid #0183c1;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  }

  #nav.open {
    display: block;
  }
  #nav .section_menu {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
  #nav .section_menu > ul {
    background: url(../img/share/ico-line_nav.gif) no-repeat right center;
    height: 100%;
  }
  #nav .section_menu > ul:after {
    content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;
  }
  #nav .section_menu > ul > li {
    width: 100%;
    text-align: center;
    float: left;
    line-height: 27px;
    height: auto;
    position: relative;
    background: url(../img/share/ico-line_nav.gif) no-repeat left center;
  }
  #nav .section_menu > ul > li > a {
    color: #686868;
    font-size: 117%;
    font-weight: bold;
    text-decoration: none;
    padding: 11px 10px 8px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
  }
  #nav .section_menu > ul > li > a > span {
    padding-right: 15px;
    display: block;
    background: url(/img/share/sp/ico-arrow_nav.gif) no-repeat right center;
  }

  /* メニユー
  ----------------------------------------*/
  #nav .sub_nav {
    display: none;
    position: relative;
    width: 100%;
    z-index: 1800;
    background: #fff;
    padding: 0;
  }
  #nav .sub_nav li {
    width: 100%;
    float: none;
    position: relative;
  }
  #nav .sub_nav li ul {
      top: 0;
      right: 0;
  }
  #nav li:hover > .sub_nav {
    display: none;
  }
  #nav .sub_nav li {
    width: 100%;
    display: block;
    vertical-align: middle;
    position: relative;
    text-align: left;
  }
  #nav .sub_nav li a {
    display: block;
    color: #686868;
    font-size: 117%;
    padding: 3px;
    text-decoration: none;
    background: url(../img/share/sp/ico-arrow_link.gif) no-repeat 97.2% center;
    border-bottom: 1px solid #ccc;
  }

  #nav .sub_nav .dropdown a {
    background: url(../img/share/sp/ico-arrow_nav.gif) no-repeat 97.2% center;
  }
  #nav .sub_nav .item {
    display: block;
    border-bottom: 1px solid #f1ede7;
  }
  #nav .sub_nav .thumb {
    display: inline-block;
    vertical-align: middle;
    padding-right: 6px;
    width: 44px;
    text-align: center;
  }
  #nav .sub_nav .thumb img {
    vertical-align: middle;
  }
  #nav .sub_nav .name {
    width: 130px;
  }

  /*  nav
  ----------------------------------------*/

  /*  nav
  ----------------------------------------*/


  /*  footer
  ----------------------------------------*/
  #footer {
    height: 100%;
    background-size: 100% 100%;
  }
  #footer .footer_info {
    width: 86%;
    padding: 17px 0 5px;
  }
  #footer .footer_info li a {
    font-size: 10px;
    line-height: 1.3em;
  }
  #footer .copy_right {
    background: #0083c1;
    font-size: 10px;
    padding-bottom: 10px;
  }

  .lock_scroll {
      overflow: hidden;
      height: 100%;
    }
  .overlay_sp {
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
    background-color: #000000;
    opacity: 0;
    transition: opacity .3s;
    display: block;
    opacity: 0.3;
    overflow: hidden;
    }


}
